.font-40{
    font-size:40px;
}

.font-30{
    font-size:30px;
}
.fc-unthemed .fc-today {
    background: #375a7f;
}

.fc-unthemed .fc-popover .fc-header, .fc-unthemed hr{
    background: #464545;
}

.max-height{
    max-height:450px;
}

.progress{
    height:20px;
}

.progress .progress-bar {
    font-size: 15px;
    line-height: 18px;
}
